/* Estilos globales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/9d/8b/52/9d8b52d908edb0cb97a67bad2fe99701.jpg);
    color: #a200ff;
    margin: 50px;
    opacity: 0.95;
   border-top: #ff0000;
}

/* Estilo para el encabezado del artículo */
article header {
    background-color: #0922ff;
    color: #00ff40;
    padding: 1em 0;
    text-align: center;
    overflow-y: scroll;
    margin-top: 0ch;
}

/* Títulos */
h1, h2 {
    margin-bottom: 0.5em;
    text-shadow: #2600ff;
    text-align: center;

}

/* Fecha del artículo */
article header time {
    font-style: italic;
    color: #f4f4f4;
}

/* Estilos para las secciones */
section {
    background-color:rgba(44, 44, 44, 0.5);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Estilos para listas */
ul {
    padding-left: 20px;
}

ul ul {
    list-style-type: circle;
}

/* Estilos para el formulario */
form {
    background-color: #d3b925;
    padding: 1em;
    border-radius: 8px;
    font-size: xx-large;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    margin-bottom: px;
    border: 1px solid #1f18dc;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 0.7em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {

}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    transition-duration: 6ms;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #007bff;
    color: #000000;
    text-align: left;
}

/* Media queries para responsividad. Aún no hemos dado esto y solamente lo quiero mencionar. Busca su significado */
/* aplicar estilos diferentes a un documento HTML en función de las características del 
dispositivo en el que se visualiza la página, 
principalmente basándose en el tamaño de la pantalla y la resolución. */
@media (max-width: 6000px) {
    body {
        background-color: #007dd6;
    }

    article header {
        padding: 0.5em 0;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
